.activeSlide {
	border: 2px solid green;
}

.imgContainer {
	border: 1px solid #DDDDDD;
    position:relative;
}

.logo {
	width: 48px;
	height: 64px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.slideTitle {
	font-weight: 600;
}